@model KhumaloCraft.Models.productTBL
@{
    ViewData["Title"] = "MyWork";
}
<section class="page-section">

<div class="text-center" style="padding-top:40px ; padding-bottom:40px;">
    <h1>My Work</h1>
</div>


<body>
    <p>Fill the form bellow to enter new products</p>
    <div class="form-container">
            <form action="MyWork" method="post">
                <div class="input-field">  
                    <input type="text" name="ProductName" required />
                    <label>Name</label>

                </div>


                <div class="input-field">
                    <input type="text" name="ProductPrice"  required />
                    <label>Price</label>
                </div>

                
                <div class="input-field">     
                    <input type="text" name="ProductCategory" required />
                    <label>Category</label>
                </div>

                
                <div class="input-field">
                    <input type="text" name="ProductAvailability"  required />
                    <label>Availability</label>
                </div>
                <div class="buttom-field">
                    <button type="submit">Submit</button>
                </div>

                
            </form>

    </div>
    

</body>

</section>