@model KhumaloCraft.Models.userTBL
@{
    ViewData["Title"] = "Sign Up";
}
<section class="page-section">
    <div class="text-center" style="padding-top:40px ; padding-bottom:40px;">
        <h1>Sign Up</h1>
    </div>
    <p>Please enter your name and last name: </p>
<body>
        <div class="form-container">
            <form action="About" method="post">

                <div class="input-field">
                    <input type="text" name="userName" required />
                    <label>User Name</label>
                </div>

                <div class="input-field">
                    <input type="text" name="surname" required />
                    <label>Surname</label>
                </div>

                <div class="input-field">
                    <input type="text" name="email" required />
                    <label>Email</label>
                </div>

                <div class="buttom-field">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>


</body>
</section>
