@model dynamic

@{
    ViewData["Title"] = "Home Page";
    var userID = ViewData["userID"];
    var orderID = ViewData["orderID"];
    var products = ViewData["Products"] as List<KhumaloCraft.Models.productTBL>;
}
<div class="text-center">
    <h1 class="display-4">Order Details</h1>
</div>

@if (orderID != null)
{
    <h3> Order ID: @orderID</h3>
    <h3> User Details</h3>
    <table>
        <thead>
            <tr>
                <th>Name </th>
                <th>Surname</th>
                <th>Email</th>
            </tr>

        </thead>

    </table>
    
} 
else
{
    <p>You don't have any order</p>
}