@model dynamic

@{
    ViewData["Title"] = "Home Page";
   
}
<section class="page-section">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Khumalo Craft Emporium is a global e-commerce platform showcasing handcrafted products owned by Mr. James Khumalo.  We have an objective that is connecting artists worldwide with discerning audiences. </p>
    </div>

</section>
